<div align="center">
  <h3>{{lesson?.name}}</h3>
  <div>{{lesson?.description}}</div>
</div>


<br />
<h4>Материалы к уроку</h4>
<div *ngFor="let material of materials">
  <br />
  <a (click)="downloadMaterial(material.name)" class="btn btn-info" onclick="ym(61893537,'reachGoal','DOWNLOAD_MATERIAL')">{{ material.name }}</a>
</div>
<br/>


<h4>Домашняя работа</h4>

<div *ngIf="homework.file">
  <a (click)="downloadHomework(homework.file)" class="btn btn-info">{{ homework.file }}</a>
</div>
<div *ngIf="!homework.file">
  Файл не прикреплен
</div>
<div *ngIf="homework.passed">Домашняя работа зачтена</div>
<div *ngIf="!homework.passed">Домашняя работа не зачтена</div>
<h4>Комментарии</h4>
<div *ngIf="homework.comments.length!==0">
  <div *ngFor="let comment of homework.comments">
    {{comment.owner.name}} ({{comment.owner.email}}) оставил(-а) комментарий <br>
    <p>{{comment.text}}</p>
  </div>
</div>
<div *ngIf="homework.comments.length===0">
  К домашней работе пока не оставлено ни одного комментария
</div>

<h4>Прикрепить файл</h4>
<br/>
<label for="file">Выберите файл</label>
<input type="file" style="padding-top: 25px" id="file"
       (change)="handleFileInput($event.target.files)">
<button class="btn btn-primary btn-block" (click)="onSubmit()"
        style="width: 100px">Добавить</button>
<br/>

<form [formGroup]="form" onsubmit="sendParams()">
    <div class="form-group">
        <label for="text">Ваш комментарий:</label>
        <textarea name="text" class="form-control" formControlName="text" id="text"></textarea>
    </div>
    <div class="form-buttons">
        <button class="btn btn-primary" (click)="send()">Отправить</button>
    </div>
</form>
<br>
<a class="btn btn-primary" [routerLink]="['/user/me/course', course]">Назад</a>
