<h3>{{lesson?.name}}</h3>
<div>{{lesson?.description}}</div>

<br />
<h6>Материалы</h6>
<div *ngFor="let material of materials">
  <br />
  <a href="{{downloadUrlMaterial}}/{{ material.name }}" class="btn btn-info" onclick="ym(61893537,'reachGoal','DOWNLOAD_MATERIAL')">{{ material.name }}</a>
</div>
<br/>

<h6>Домашние работы</h6>
<div *ngIf="homework.file">
<a href="{{downloadUrlHomework}}/{{ homework.file }}" class="btn btn-info">{{ homework.file }}</a>
</div>
<div *ngIf="!homework.file">
  Пользователь не прикрепил файл
</div>
<div *ngIf="homework.passed">Сдано</div>
<div *ngElse>Не сдано</div>
<div *ngFor="let comment of homework.comments">
    {{comment.owner.name}} ({{comment.owner.email}}) оставил(-а) комментарий <br>
    <p>{{comment.text}}</p>
</div>

<br/>
<label for="file">Выберите файл</label>
<input type="file" style="padding-top: 25px" id="file"
       (change)="handleFileInput($event.target.files)">
<button class="btn btn-primary btn-block" (click)="onSubmit()"
        style="width: 100px">Добавить</button>
<br/>

<form [formGroup]="form" onsubmit="sendParams()">
    <div class="form-group">
        <label for="text">Ваш комментарий:</label>
        <textarea name="text" class="form-control" formControlName="text" id="text"></textarea>
    </div>
    <div class="form-buttons">
        <button class="btn btn-primary" (click)="send()">Отправить</button>
    </div>
</form>
