<div class="container" *ngIf="user; else loggedOut">
  <header class="jumbotron">
    <h3>
      Личный кабинет
    </h3>
  </header>
  <p>
  </p>
  <p>
    <strong>Email:</strong>
    {{ user.email }}
  </p>



      <div *ngIf="currentUser['roles'].includes('ROLE_ADMIN')">Вы вошли как администратор</div>
      <div *ngIf="currentUser['roles'].includes('ROLE_INSTRUCTOR')"><br>Вы вошли как инстркуктор</div>
      <div *ngIf="currentUser['roles'].includes('ROLE_USER') "><br>Вы вошли как пользователь</div>



</div>

<ng-template #loggedOut>
  Войдите в систему
</ng-template>

<h1 class="h3 mb-3 font-weight-normal">Доступные мне курсы</h1>
<a class="btn btn-primary"  routerLink="/user/me/course">Просмотреть</a>

<div *ngIf="currentUser['roles'].includes('ROLE_INSTRUCTOR')">
  <h3>Функционал, доступный инструктору</h3>
  <h1 class="h3 mb-3 font-weight-normal">Список курсов, на которых я числюсь инструктором</h1>
    <a routerLink="/courses" class="btn btn-primary">Просмотреть</a>
</div>



<div *ngIf="currentUser['roles'].includes('ROLE_ADMIN')">
  <h3>Функционал, доступный администратору</h3>
  <div>
    <h1 class="h3 mb-3 font-weight-normal">Список всех пользователей</h1>
    <a class="btn btn-primary" routerLink="/user">Просмотреть</a>
    <br>
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Список всех курсов</h1>
    <a class="btn btn-primary" routerLink="/admin/course">Просмотреть</a>
    <br>
    <br>
  </div>

</div>

<h4>Изменение профиля</h4>
<a routerLink="/user/me/changeProfile" [queryParams]="{'name':user?.name,'email':user?.email}" class="btn btn-primary">Редактировать профиль</a>
<br>
<br>
<a routerLink="/user/me/changeProfile" [queryParams]="{'password':'true'}" class="btn btn-primary">Сменить пароль</a>


