<div>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <a class="navbar-brand" routerLink="/">{{title}}</a>





      <ul class="navbar-nav ml-auto" *ngIf="!isLogged">
        <li class="nav-item">
          <a routerLink="/auth/signup" class="nav-link" >Зарегестрироваться</a>
        </li>
        <li class="nav-item">
          <a routerLink="/auth/login" class="nav-link" >Войти</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLogged">
        <li class="nav-item">
          <a routerLink="/user/me" class="nav-link text-white">Личный кабинет</a>
        </li>

        <li class="nav-item">
          <a href class="nav-link text-white" (click)="logout()">Выйти</a>
        </li>
      </ul>
    </nav>


  </header>
</div>
<router-outlet></router-outlet>
