<div>
    <h3>Список моих курсов</h3>
  <div *ngIf="coursesWrapped._embedded.courses.length!==0">
    <table class="table table-borderless">
      <thead >
      <tr>
        <th><h1 class="h3 mb-3 font-weight-normal">Название курса</h1></th>
        <th><h1 class="h3 mb-3 font-weight-normal">Краткое описание</h1></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of coursesWrapped._embedded.courses">
        <td> <h1 class="h4 mb-3 font-weight-normal">{{ course.name }}</h1></td>
        <td><h1 class="h4 mb-3 font-weight-normal"><div [innerHTML]="course.description"></div></h1></td>
        <td>
<!--          <a [routerLink]="['/course',course.name] " [queryParams]="{'id':course.id}" class="btn btn-info">Перейти</a>-->
          <a [routerLink]="[course.id] "  class="btn btn-primary">Перейти</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="coursesWrapped._embedded.courses.length===0">
    <h3>Вы пока не числитесь ни на одном курсе</h3>
  </div>
  <br>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="" (click)="setPrevPage($event)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="nav-item" *ngFor="let p of pagesIterable; let i=index">
        <a class="nav-link" href="" (click)="setPage(i,$event)">{{i+1}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="" (click)="setNextPage($event)"  aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <br>
    <a class="btn btn-primary float-left" routerLink="/user/me">Назад</a>
</div>
