<h1 class="title" align="center">Сайт корпоративного обучения компании </h1>
<h1 class="title" align="center">"Название компании"</h1>
<h3 class="font-weight-normal" align="center">На этом сайте сотрудники могут получить дополнительные знания и навыки по различным темам </h3>



<div class="container">

  <div class="row justify-content-center">
      <div  class="card-deck">
        <div align="center">
          <div class="col-sm-6">
            <div class="card bg-dark text-white">
              <img class="card-img" src="../../../assets/learning.png" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">Плюсы обучения на нашем сайте</h5>
                <p class="card-text">Онлайн обучение позволит вам получать новые знания и навыки просто и эффективно. Опытные инструкторы подготовят самые нужные материалы, подкрепленные домашними заданиями.</p>

              </div>

            </div>
          </div>
        </div>

      </div>
    <br>
    <br>
  </div>
  <div class="container">
    <div align="center">
      <div class="col-sm-6">
        <div class="card bg-dark text-white">
          <img class="card-img" src="../../../assets/contact.png" alt="Card image">

          <div class="card-body">
            <h5 class="card-title">Обратная связь</h5>
            <p class="card-text">По всем интересующим Вас вопросам обращайтесь по телефону +7 123 1234567 или пишите на электронную почту kublenko_p_v@sc.vsu.ru</p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>




