<body class="text-center">
  <div class="form-course">
    <h1 class="display-5">Название курса</h1>
    <h1 class="h2 mb-3 font-weight-normal">{{ course?.name }}</h1>
    <h1 class="display-5">Краткое описание курса</h1>
    <h1 class="h4 mb-3 font-weight-normal">{{ course?.description }}</h1>


    <h3 class="dispay-3">Список уроков</h3>
    <div *ngIf="!lessons || lessons?.length===0">
      <h4 class="display-4">Здесь пока ничего нет</h4>
    </div>
    <div *ngFor="let lesson of lessons">
      <h1 class="h4 mb-3 font-weight-normal">{{ lesson.name }} </h1>
        <a [routerLink]="['/lesson', lesson.name]" class="btn btn-info mr-5">Редактировать</a>
      <a [routerLink]="['/lesson/homeworks']" [queryParams]="{'lessonId':lesson.id}" class="btn btn-info">Просмотреть домашние работы</a>
    </div>




    <div align="right">
      <button [routerLink]="['/add/lesson', course?.name]" [queryParams]="{'id':course?.id}" class="btn-primary">Добавить урок</button>
    </div>

    <div align="left">
      <h5 class="display-5">Добавить слушателя на курс</h5>
      <form [formGroup]="form">
        <div class="form-field">
          <label>Email:</label>
          <input name="email" formControlName="email">
        </div>
        <button (click)="onClick()">Искать</button>
      </form>
    </div>

    <div align="left" *ngIf="users?.length===0">
      Ничего не найдено
    </div>


    <div align="left" *ngIf="users && users?.length!==0 ">
      <table>
        <thead>
        <th>Email</th>
        <th>Имя</th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.email }}</td>
          <td>{{ user.name }}</td>
          <td><button (click)="addListener(user.email)">Добавить</button></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</body>

