
 <h3 class="display-3">Список подопечных курсов</h3>

 <table class="table table-borderless">
   <thead >
   <tr>
     <th><h1 class="h3 mb-3 font-weight-normal">Название курса</h1></th>
     <th><h1 class="h3 mb-3 font-weight-normal">Краткое описание</h1></th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let course of coursesWrapped._embedded.courses">
     <td> <h1 class="h4 mb-3 font-weight-normal">{{ course.name }}</h1></td>
     <td><h1 class="h4 mb-3 font-weight-normal"><div [innerHTML]="course.description"></div></h1></td>
       <td>
         <a [routerLink]="['/course',course.name] " [queryParams]="{'id':course.id}" class="btn btn-info">Перейти</a>
       </td>
   </tr>
   </tbody>
 </table>
 <br>
 <nav aria-label="Page navigation">
   <ul class="pagination">
     <li class="page-item">
       <a class="page-link" href="" (click)="setPrevPage($event)" aria-label="Previous">
         <span aria-hidden="true">&laquo;</span>
         <span class="sr-only">Previous</span>
       </a>
     </li>
     <li class="nav-item" *ngFor="let p of pagesIterable; let i=index">
       <a class="nav-link" href="" (click)="setPage(i,$event)">{{i+1}}</a>
     </li>
     <li class="page-item">
       <a class="page-link" href="" (click)="setNextPage($event)"  aria-label="Next">
         <span aria-hidden="true">&raquo;</span>
         <span class="sr-only">Next</span>
       </a>
     </li>
   </ul>
 </nav>
 <br>
 <div style="padding-top: 40px">

   <a routerLink="/add/course" class="btn btn-lg btn-primary float-right">Добавить курс</a>

   <a routerLink="/user/me" class="btn btn-lg btn-primary float-left">Назад</a>

 </div>

