<div align="center">
  <h2 class="display-2">Список домашних работ к уроку</h2>
</div>
<div *ngIf="homeworks.length!==0">

  <table class="table table-borderless">
  <tr scope="row" *ngFor="let homework of homeworks; index as i">

      <td scope="col">
        <h4>Домашняя работа пользователя {{homework.user.name}} ({{homework.user.email}})</h4>
      </td>
    <td scope="col">
      <br>
      <a class="btn btn-primary" [routerLink]="['/lesson/homework'] " [queryParams]="{'lessonId':homework.id.lessonId,'userId':homework.id.userId}" >
         Перейти

      </a>
    </td>

  </tr>
  </table>
</div>
<div *ngIf="homeworks.length===0">

  <h3 class="display-3">Здесь пока ничего нет</h3>
</div>


<a class="btn btn-primary" routerLink="/courses">Назад</a>
